@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
}

body {
  display: flex;
  flex-direction: column;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background: linear-gradient(90deg, #3B03FF, #8A4DFF, #3B03FF);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.animate-gradient-text {
  background: linear-gradient(90deg, #3B82F6, #8B5CF6, #3B82F6);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 6s ease infinite;
}

/* Fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}
