@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 100vw;
}

/* Fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(1.5px);
  }
  50% {
    transform: translateY(-1.5px);
  }
}

.animate-bounce {
  animation: bounce 1s ease-in-out infinite;
}
